.font{
    font-family: monospace;
  }
  body{
    background-color: #3f37c9;
  }
  .element{
    font-size:larger;
  }
  a{
    text-decoration: none;
  }
  h1, h2, h3{
    padding: 10px;
    background-color: #4361ee;
    width: fit-content;
    border-radius: 10px;
  }
  ul, p{
    padding: 10px;
    background-color: #4895ef;
    width: fit-content;
    border-radius: 10px;
  }
  img{
    border-radius: 30px 150px;
  }
  #pfp{
    float: left;
    padding: 10px;
    background-color: #480ca8;
  }
  .img-container{
    height: 550px;
  }
  .descricao {
    float: left;
    position: absolute;
    top: 280px;
    right: 200px;
  }
  .name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }
  .itens{
    float: left;
    position:absolute;
    top: 370px;
    right: 300px;
    list-style-type: none;
  }
  .hab li:nth-child(odd){
    background-color: #4cc9f0;
    padding: 1px;
    border-radius: 5px;
  }